<!DOCTYPE html>
<html lang = "tr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#4caf50">
    <meta charset="UTF-8">
    <title>Profil</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if username %}
        <h1>Merhaba, {{ username }}!</h1>
        <p>Bu senin profil sayfan.</p>
        <a class="button" href="/">Anasayfa</a>
    {% else %}
        <p style="font-size: 18px; color: #333;">Profil bulunamadı. <a href="{{ url_for('login') }}" style="color: #1a73e8; text-decoration: underline;">Giriş yap</a></p>
    {% endif %}
    <a class="button" href="/logout">Çıkış Yap</a>
    
<h2>Haftalık Ruh Hâli Takibi</h2>
    <div class="containers">
  <div id="heatmapChart"></div>
  
    </div>


<h3>Genel Ruh Hâli</h3>
<div style="width: 80px; height: 80px; border-radius: 50%; background-color: {{ average_color }}; border: 2px solid #333; margin: 10px auto;"></div>
<p style="text-align: center;">Bu genel ruh hâlini temsil eder.</p>


<script src="{{ url_for('static', filename='heatmap.js') }}"></script>



</body>
</html>